.main-heading {
    text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
  color: var(--e-global-color-astglobalcolor8);
}
.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: var(--e-global-color-astglobalcolor8);
  bottom: -30px;
  width: 120px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid var(--e-global-color-astglobalcolor8);
  bottom: -38px;
  background-color: white;
}
.main-heading p {
  min-width: fit-content;
  text-wrap: nowrap;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}