@tailwind base;
@tailwind components;
@tailwind utilities;


 /* Start reusable components */
 .outlet {
  min-height: calc(100vh - 96px) !important;
 }
 .container {
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 450px) {
    .container {
      width: 100%;
      min-width: 300px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @media (min-width: 450px) {
    .container {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @media (min-width: 720px) {
    .container {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @media (min-width: 1080px) {
    .container {
      width: 1080px;
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  @media (min-width: 1400px) {
    .container {
      width: 1400px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  .about-list {
    list-style-type: disclosure-open;
  }
  .landing {
    background-image: url("/src/assets/shared/مقاول-هناجر-الرياض-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* End Reusable Components */